<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ABOUT ME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content style="font-size: 20px; text-align: center;" >
      I was born in Ecuador in 2001. <br>
      I enjoy going to metal concerts, watching moviews, cooking and sometimes playing Basketball.
    </ion-card-content>
  </ion-card>
  
  <ion-list>
    <ion-item-divider>
      <ion-label> Hobbies </ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let hobbie of hobbies" style="margin-top: 20px; margin-bottom: 20px;">
      <ion-label> {{hobbie.title}} </ion-label> 
      <ion-avatar slot="start">
        <ion-img [src]="hobbie.imageUrl" ></ion-img>
      </ion-avatar>
    </ion-item>
  </ion-list>

</ion-content>
